---
import ButtonGray from "./ButtonGray.astro";
import CardCoffe from "./CardCoffe.astro";
---

<div class="flex flex-col justify-center align-middle ml-64 mr-64">
  <h1 class="font-DMS text-4xl text-center font-bold tracking-wide mb-2">
    Nuestra Colección
  </h1>

  <p class="text-pretty font-DMS font-semibold text-gray-500 tracking-wide">
    Presentamos nuestra Colección de Café, una selección de cafés únicos de
    diferentes tipos de tostado y orígenes, tostados expertamente en pequeños
    lotes y enviados frescos cada semana.
  </p>

  <div class="flex justify-center gap-5 mt-4">
    <ButtonGray>Todos los productos</ButtonGray>

    <ButtonGray>Disponible ahora</ButtonGray>
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-3 text-white 8xl gap-10 mt-7">
  <CardCoffe>
    <img slot="imagen" src="public/Cafe-1.jpg" alt="" />
     Cappuchino
    <p slot="price">$5.20</p>

    <p slot="rating">4.7</p>

    <p slot="votes">(68 votos)</p>
  </CardCoffe>

  <CardCoffe>
    <img slot="imagen" src="public/Cafe-2.jpg" alt="" />
     Casa del Café
     <p slot="price">$3.50</p>

     <p slot="rating">4.85</p>
 
     <p slot="votes">(14 votos)</p>
  </CardCoffe>

  <CardCoffe>
    <img slot="imagen" src="public/Cafe-3.jpg" alt="" />
     Expresso
     <p slot="price">$2.50</p>

     <p slot="rating">4.9</p>
 
     <p slot="votes">(55 votos)</p>
  </CardCoffe>

  <CardCoffe>
    <img slot="imagen" src="public/Cafe-4.jpg" alt="" />
     Café Latté
     <p slot="price">$4.50</p>

     <p slot="rating">5.0</p>
 
     <p slot="votes">(23 votos)</p>
  </CardCoffe>

  <CardCoffe>
    <img slot="imagen" src="public/Cafe-5.jpg" alt="" />
     Café de Chocolate
     <p slot="price">$4.00</p>

     <p slot="rating">4.65</p>
 
     <p slot="votes">(122 votos)</p>
  </CardCoffe>

  <CardCoffe>
    <img slot="imagen" src="public/Cafe-6.jpg" alt="" />
     Café de San Valentin
     <p slot="price">$3.00</p>

     <p slot="rating">3.9</p>
 
     <p slot="votes">(4 votos)</p>
  </CardCoffe>
</div>
<style>
  img {
    object-fit: cover;
    border-radius: 16px;
    height: 200px;
    width: 300px;
  }
</style>
